ul li {
  list-style: none;
}
.hero {
  text-align: center;
  display: flex;
  padding: 5em;
  display: flex;
  justify-content: center;
 
    img {
      width: 200px;
      height: auto;
      border-radius: 100%;
    }
  
    h1 {
      font-size: 3.5em;
    }
    p {
      font-size: 1.5em;
    }
}

.work {
  ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
  }
  li {
    list-style: none;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.contact {
  background: #f1f1f1;
  h2 {
    text-align: center;
  }
  padding: 2em 5em;
  ul li {
    margin-bottom: 20px;
    label {
      display: block;
      margin-bottom: 10px;
    }
    input,textarea {
      width: 100%;
      border: 3px solid #262626;
      border-radius: 5px;
    }
    input {
      height: 50px; 
    }
  }
}

footer {
  padding: 2em 0;
  h2 {
    font-size: 2em;
  }
  text-align: center;
  Ul {
    font-size: 3em;
    font-weight: bold;
    display: flex;
    li {
      margin: 0 10px;
    }
  }

}
